.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--background-dark);
  border-radius: 50px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 300ms;

  &.color-foreground {
    background-color: var(--foreground);
  }

  &.color-cyan {
    background-color: var(--cyan);
  }

  &.color-orange {
    background-color: var(--orange);
  }

  &.size-medium {
    height: 36px;
    padding: 0 var(--spacing-5);
  }

  &.size-large {
    height: 44px;
    padding: 0 var(--spacing-10);
  }
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    transform: scale(1.1, 1.1);
  }
}
