.section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.lateral-padding-medium {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);

  &.breakpoint-large {
    padding-left: var(--spacing-7);
    padding-right: var(--spacing-7);
  }
}

.vertical-padding-medium {
  padding-top: var(--spacing-7);
  padding-bottom: var(--spacing-7);

  .breakpoint-large {
    padding-top: var(--spacing-10);
    padding-bottom: var(--spacing-10);
  }
}

.heading {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-7);
  box-sizing: border-box;
  padding-bottom: 0;
  max-width: 800px;
}

.content {
  box-sizing: border-box;
}

.heading + .content {
  padding-top: 0;
}
