.section {
  width: 100%;
  box-sizing: border-box;

  &.lateral-padding-none {
    padding: 0;
  }

  &.lateral-padding-medium {
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);

    &.large {
      padding-left: var(--spacing-7);
      padding-right: var(--spacing-7);
    }
  }

  &.vertical-padding-medium {
    padding-top: var(--spacing-7);
    padding-bottom: var(--spacing-7);

    &.large {
      padding-top: var(--spacing-10);
      padding-bottom: var(--spacing-10);
    }
  }
}
