.theme-mode-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 300ms linear 0s;
  cursor: pointer;

  &.light-mode {
    border: 4px solid var(--foreground);
    box-shadow: var(--background-dark) 0px 8px 0px inset;
    background-color: var(--foreground);
  }

  &.dark-mode {
    border: 4px solid var(--foreground);
    box-shadow: var(--background-dark) 6px 0px 0px inset;
    background-color: var(--foreground);
  }
}
